.highlight {
  margin-block: 0 1.1rem;
}

.highlight pre {
  margin: 0;
}

.chroma {
  color: var(--text);
  background: var(--code-bg);
}

.chroma .k,
.chroma .kc,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .kt {
  color: #96355f;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1,
.chroma .ss {
  color: #365d45;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #69615a;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #405a78;
}

.chroma .na,
.chroma .nc,
.chroma .nd,
.chroma .ne,
.chroma .nf,
.chroma .fm,
.chroma .nt {
  color: #704875;
}

.chroma .o,
.chroma .ow {
  color: #405a78;
}

.chroma .gd {
  color: #82071e;
  background: #ffebe9;
}

.chroma .gi {
  color: #116329;
  background: #dafbe1;
}
